<!DOCTYPE>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

Welcome <%= current_host.name %>!

<!-- Log Out Button -->
	<button class="js-submit" type="submit">
		<a href="/hosts/sign_out" data-method="delete">Sign Out</a>
	</button>
<br>
<br>

<!-- Panel Group -->
  <div class="panel-group" >
    <div class="panel panel-default">
      <div class="panel-heading">
		<h3 class="panel-title">Scheduled Events</h3>
		  </div>
			<div class="panel-body">
			  <ul>
				<% if @events.empty? %>
					<li>There are no schduled events</li>
				<% else %>
					<% @events.each do |evt| %>
					<li>
					  <%= evt.title %> 
					  <%= evt.date %>
					  <a href="/events/<%= evt.id %>/edit">Edit</a> 
					</li>
				  <% end %>
				<% end %>
			  </ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">
			  <a href="/events/new">Create Event</a>
			</h3>
		</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">
			  <a href="/">Send Payments</a>
			</h3>
			</div>
		</div>
    </div>


			