<!-- Header -->
<div class="divide-head"></div>



<!-- Static Navagation -->
<div class="navbar navbar-default navbar-fixed-top navbar-right">
  <div class="navbar navbar-brand-glyphicon">
  <span class="glyphicon glyphicon-headphones"></span>
  </div>
  <a href="/" class="navbar-brand">Gighub.com</a>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  
<!-- Signout -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/hosts/sign_out" data-method="delete">Sign Out</a></li>
      </ul>
    </div><!-- closed sign out -->
  </div> <!-- Closed Container -->
</div><!-- Closed NavBar -->

<div class="create-form">
<div class="col-sm-3"></div>
<div class="col-sm-6">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingOne">
		<h3 class="panel-title">
		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		My Scheduled Events
		</a>
		</h3>
		</div>
		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">
			<% if @events.empty? %>
				There are no schduled events
			<% else %>
				<% @events.each do |evt| %>
				<p>
				<a href="/events/<%= evt.id %>/edit" class="list-group-item">
				  <span class="glyphicon glyphicon-chevron-right"></span>&nbsp; <%= evt.title %> 
				</a> 
				</p>
				
			  <% end %>
			<% end %>        
		</div>
		</div>
	</div><!-- closed scheduled events -->

		<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">
			  <a href="/events/new" class="nounderline">Create Event</a>
			</h3>
		</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">
			  <a href="/" class:"nounderline">Send Payments</a>
			</h3>
			</div>
		</div>
    </div>
  </div><!-- closed dashboard panel -->
  <div class="col-sm-3"></div>
 </div>



			