<!DOCTYPE>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<h1>Welcome to Host Dashboard</h1>

<button class="js-submit" type="submit">
	<a href="/hosts/sign_out" data-method="delete">Sign Out</a>
</button>
