<!DOCTYPE>
<head>
  <link rel="stylesheet" type="text/css" href="app/assests/stylesheets/application.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<!-- Header -->
<div class="page-header">
  <h1>GigHub</h1>
</div>

<!-- Navagation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Media</a></li>

<!-- Sign In Button-->  
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log In <span class="caret"></span></a>
          <ul class="dropdown-menu" role=menu>
            <li><a href="/hosts/sign_in">Login as Host</a></li>
            <li><a href="/artists/sign_in">Login as Artist</a></li>
          </ul>
        </li> 

<!-- Create New Button -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign Up <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/hosts/sign_up">New Host</a></li>
            <li><a href="/artists/sign_up">New Artist</a></li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>










