<!DOCTYPE>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<h1>GigHub</h1>


<!-- Sign In Button-->  
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sign In
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/hosts/sign_in">Login as Host</a></li>
      <li><a href="/artists/sign_in">Login as Artist</a></li>
    </ul>
  </div>

<!-- Create New Button -->
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Create Account
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/hosts/sign_up">New Host</a></li>
      <li><a href="/artists/sign_in">New Artist</a></li>
    </ul>
  </div>








