<title><span class="glyphicon glyphicon-headphones"></span>
</title>
<!-- Header -->
<div class="divide-head"></div>

<!-- Static Navagation -->
<div class="navbar navbar-default navbar-fixed-top navbar-right">
  <div class="navbar navbar-brand-glyphicon">
  <span class="glyphicon glyphicon-headphones"></span>
  </div>
  <a href="/" class="navbar-brand">Gighub.com</a>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  

<!-- Links -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>

<!-- Sign In Button-->  
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log In<span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li><a href="/hosts/sign_in">Login as Host</a></li>
            <li><a href="/artists/sign_in">Login as Artist</a></li>
          </ul>
        </li> 

<!-- Sign Up New Button -->
        <li class="dropdown-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign Up<span class="caret"></span></a>
          <ul class="dropdown-menu" role=menu>
            <li><a href="/hosts/sign_up">New Host</a></li>
            <li><a href="/artists/sign_up">New Artist</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- Closed Links -->
  </div> <!-- Closed Container -->
  <span class="center-line-nav"></span>
</div><!-- Closed NavBar -->




<!-- Banner -->
<div class="row">
<div class="row caption">
  <div class="caption-heading">Book your next event on GigHub.</div>
    <p>Flank jowl ribeye capicola shankle pig rump tri-tip swine sirloin boudin chuck.</p>
  </div>
  <div class="cover-photo">
    <img class="landing-img" src="http://portfolio-kwarc.pl/music-nation-bootstrap-v-1-1/img/slider-photos/concert-1.jpg">
  </div>
</div> <!-- Closed Banner -->

<!-- Body -->
<div class="container-body-text">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 body-top">
    <div class="center-heading">
    <h2><strong>What</strong> we do</h2>
    <span class="center-line"></span>
    <p class="sub-text">
        Bacon ipsum dolor amet nulla kielbasa mollit bacon, est boudin ham laboris aute fugiat prosciutto brisket. Veniam proident qui, occaecat spare ribs turducken beef tri-tip et irure. Lorem proident fatback voluptate doner ham hock, ea hamburger chuck adipisicing. Labore irure picanha officia proident eiusmod ut chuck.</p>
    </div>
    </div>
  </div>
  <div class="divide-about"></div>

<!-- About -->
  <div class="row about-boxes">
      <div class="col-md-3 col-sm-6">
          <div class="img-box">
              <img class="about-img" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/DJ_Hatcha_2008.jpg">
              <h3>free support</h3>
              <span class="center-line-about"></span>
              <p>
                  Fatback chuck turducken filet mignon ribeye meatball t-bone shoulder corned beef cow pastrami capicola.  
              </p>
          </div>
      </div><!--colored boxed col end-->
      <div class="col-md-3 col-sm-6 about-box">
          <div class="img-box">
              <img class="about-img" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/DJ_Hatcha_2008.jpg">
              <h3>ultra responsive</h3>
              <span class="center-line-about"></span>
              <p>
                  Short loin meatloaf swine sirloin brisket bresaola ham hock, doner salami fatback turkey. 
              </p>
          </div>
      </div><!--colored boxed col end-->
      <div class="col-md-3 col-sm-6">
          <div class="img-box">
              <img class="about-img" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/DJ_Hatcha_2008.jpg">
              <h3>made with love</h3>
              <span class="center-line-about"></span>
              <p>
                  Leberkas boudin tenderloin jowl jerky. Chicken ball tip capicola, fatback tongue ribeye venison kielbasa chuck.  
              </p>
          </div>
      </div><!--colored boxed col end-->
      <div class="col-md-3 col-sm-6">
          <div class="img-box">
              <img class="about-img" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/DJ_Hatcha_2008.jpg">
              <h3>premium plugins</h3>
              <span class="center-line-about"></span>
              <p>
                  Ham hock corned beef pancetta bresaola pig pork leberkas boudin pastrami picanha.
              </p>
          </div>
      </div><!--colored boxed col end-->
  </div>
</div>
<div class="divide-bottom"></div>

<!-- About Core Features  -->
<div class="row bottom-info">
<div class="col-sm-6"><img class="about-img-bottom" src="https://thenypost.files.wordpress.com/2014/08/interpol.jpg">
</div>

<div class="col-sm-6">
  <div class="no-padding-inner gray">
      <h3 class="core-title" style="visibility: visible;">Core features of <span class="colored-text">GigHub.com</span></h3>
      <div class="divide-core"></div>


      <div class="services-box">
          <div class="services-box-icon">
              <i class="glyphicon glyphicon-play"></i>
          </div><!--services icon-->                
          <div class="services-box-info">
              <h4>Fully Responsive</h4>
              <p>
                  Prosciutto filet mignon spare ribs pork belly picanha, ham jowl cupim pig swine chicken. Doner tenderloin short ribs swine meatloaf. 
              </p>
          </div>
      </div><!--service box-->
      <div class="divide-core"></div>

      <div class="services-box">
          <div class="services-box-icon">
              <i class="fa fa-twitter"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>Social Media</h4>
              <p>
                  Short loin meatloaf swine sirloin brisket bresaola ham hock, doner salami fatback turkey.
              </p>
          </div>
      </div><!--service box-->
          <div class="divide-core"></div>

      <div class="services-box">
          <div class="services-box-icon">
              <i class="glyphicon glyphicon-volume-up"></i>
          </div><!--services icon-->
          <div class="services-box-info">
              <h4>80+ valid HTML5 Pages and much more...</h4>
              <p>
                  Meatloaf pork chicken pancetta salami. Kielbasa shank ball tip pork brisket cow porchetta pastrami capicola tongue rump leberkas landjaeger flank doner.
              </p>
          </div>
      </div><!--service box-->
      <div class="divide-core"></div>

      <p><i>"&#9733;&#9733;&#9733;&#9733;! Veniam proident qui, occaecat spare ribs turducken beef tri-tip et irure. Lorem proident fatback voluptate doner ham hock, ea hamburger chuck adipisicing." - <strong>Dan Lebratard - Miami Herald</strong></i></p>
    </div><!-- inner-gray -->
  </div><!-- closed col -->
</div><!-- closed core -->

<div class="bottom-banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="banner-head">GigHub brings artists to the stage
                        </h4>

                        <p>
                            A new resource and tool to get the right artist for your event. 
                        </p>                   
                    </div>
                    <div class="col-sm-4">
                      <div class="banner-button">
                        <a href="/hosts/sign_up" class="btn btn-default btn-lg">Sign up and create an event today</a>
                      </div>
                    </div>
                </div>
            </div>
        </div><!-- closed bottom banner -->





